In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("audible_uncleaned.csv")

In [3]:
df

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Writtenby:ChrisStewart,Narratedby:ChrisStewart,7 hrs and 34 mins,09-03-17,English,Not rated yet,596.00
87485,The Alps,Writtenby:StephenO'Shea,Narratedby:RobertFass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820.00
87486,The Innocents Abroad,Writtenby:MarkTwain,Narratedby:FloGibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938.00
87487,A Sentimental Journey,Writtenby:LaurenceSterne,Narratedby:AntonLesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680.00
87488,Havana,Writtenby:MarkKurlansky,Narratedby:FleetCooper,6 hrs and 1 min,07-03-17,English,Not rated yet,569.00

In [4]:
df["name"]=df["name"].str.replace("[^A-Za-z&0-9,:]","",regex=True)

In [5]:
df

,name,author,narrator,time,releasedate,language,stars,price
0,GeronimoStilton11&12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,TheBurningMaze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,TheDeepEnd,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,DaughteroftheDeep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"TheLightningThief:PercyJackson,Book1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00
...,...,...,...,...,...,...,...,...
87484,LastDaysoftheBusClub,Writtenby:ChrisStewart,Narratedby:ChrisStewart,7 hrs and 34 mins,09-03-17,English,Not rated yet,596.00
87485,TheAlps,Writtenby:StephenO'Shea,Narratedby:RobertFass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820.00
87486,TheInnocentsAbroad,Writtenby:MarkTwain,Narratedby:FloGibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938.00
87487,ASentimentalJourney,Writtenby:LaurenceSterne,Narratedby:AntonLesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680.00
87488,Havana,Writtenby:MarkKurlansky,Narratedby:FleetCooper,6 hrs and 1 min,07-03-17,English,Not rated yet,569.00

In [6]:
df.isna().sum()

name           0
author         0
narrator       0
time           0
releasedate    0
language       0
stars          0
price          0
dtype: int64

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
import re

def convert_to_minutes(time_str):
    hours = minutes = 0
    h_match = re.search(r'(\d+)\s*hr', time_str)
    m_match = re.search(r'(\d+)\s*min', time_str)

    if h_match:
        hours = int(h_match.group(1))
    if m_match:
        minutes = int(m_match.group(1))

    return hours * 60 + minutes

df["time"]=df["time"].apply(convert_to_minutes)

In [9]:
df

,name,author,narrator,time,releasedate,language,stars,price
0,GeronimoStilton11&12,Writtenby:GeronimoStilton,Narratedby:BillLobely,140,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,TheBurningMaze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,788,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,TheDeepEnd,Writtenby:JeffKinney,Narratedby:DanRussell,123,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,DaughteroftheDeep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,676,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"TheLightningThief:PercyJackson,Book1",Writtenby:RickRiordan,Narratedby:JesseBernstein,600,13-01-10,English,4.5 out of 5 stars181 ratings,820.00
...,...,...,...,...,...,...,...,...
87484,LastDaysoftheBusClub,Writtenby:ChrisStewart,Narratedby:ChrisStewart,454,09-03-17,English,Not rated yet,596.00
87485,TheAlps,Writtenby:StephenO'Shea,Narratedby:RobertFass,607,21-02-17,English,Not rated yet,820.00
87486,TheInnocentsAbroad,Writtenby:MarkTwain,Narratedby:FloGibson,1144,30-12-16,English,Not rated yet,938.00
87487,ASentimentalJourney,Writtenby:LaurenceSterne,Narratedby:AntonLesser,248,23-02-11,English,Not rated yet,680.00
87488,Havana,Writtenby:MarkKurlansky,Narratedby:FleetCooper,361,07-03-17,English,Not rated yet,569.00

In [10]:
df['releasedate'] = pd.to_datetime(df['releasedate'], format='%d-%m-%y')
df['releasedate'] = df['releasedate'].dt.strftime('%Y-%m-%d')

In [11]:
df

,name,author,narrator,time,releasedate,language,stars,price
0,GeronimoStilton11&12,Writtenby:GeronimoStilton,Narratedby:BillLobely,140,2008-08-04,English,5 out of 5 stars34 ratings,468.00
1,TheBurningMaze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,788,2018-05-01,English,4.5 out of 5 stars41 ratings,820.00
2,TheDeepEnd,Writtenby:JeffKinney,Narratedby:DanRussell,123,2020-11-06,English,4.5 out of 5 stars38 ratings,410.00
3,DaughteroftheDeep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,676,2021-10-05,English,4.5 out of 5 stars12 ratings,615.00
4,"TheLightningThief:PercyJackson,Book1",Writtenby:RickRiordan,Narratedby:JesseBernstein,600,2010-01-13,English,4.5 out of 5 stars181 ratings,820.00
...,...,...,...,...,...,...,...,...
87484,LastDaysoftheBusClub,Writtenby:ChrisStewart,Narratedby:ChrisStewart,454,2017-03-09,English,Not rated yet,596.00
87485,TheAlps,Writtenby:StephenO'Shea,Narratedby:RobertFass,607,2017-02-21,English,Not rated yet,820.00
87486,TheInnocentsAbroad,Writtenby:MarkTwain,Narratedby:FloGibson,1144,2016-12-30,English,Not rated yet,938.00
87487,ASentimentalJourney,Writtenby:LaurenceSterne,Narratedby:AntonLesser,248,2011-02-23,English,Not rated yet,680.00
87488,Havana,Writtenby:MarkKurlansky,Narratedby:FleetCooper,361,2017-03-07,English,Not rated yet,569.00

In [12]:
df['num_ratings'] = df['stars'].str.extract(r'(\d+)\s*ratings').astype(float)

In [13]:
df["stars"]=df["stars"].apply(lambda x:x[0:3])

In [14]:
df

,name,author,narrator,time,releasedate,language,stars,price,num_ratings
0,GeronimoStilton11&12,Writtenby:GeronimoStilton,Narratedby:BillLobely,140,2008-08-04,English,5 o,468.00,34.0
1,TheBurningMaze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,788,2018-05-01,English,4.5,820.00,41.0
2,TheDeepEnd,Writtenby:JeffKinney,Narratedby:DanRussell,123,2020-11-06,English,4.5,410.00,38.0
3,DaughteroftheDeep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,676,2021-10-05,English,4.5,615.00,12.0
4,"TheLightningThief:PercyJackson,Book1",Writtenby:RickRiordan,Narratedby:JesseBernstein,600,2010-01-13,English,4.5,820.00,181.0
...,...,...,...,...,...,...,...,...,...
87484,LastDaysoftheBusClub,Writtenby:ChrisStewart,Narratedby:ChrisStewart,454,2017-03-09,English,Not,596.00,NaN
87485,TheAlps,Writtenby:StephenO'Shea,Narratedby:RobertFass,607,2017-02-21,English,Not,820.00,NaN
87486,TheInnocentsAbroad,Writtenby:MarkTwain,Narratedby:FloGibson,1144,2016-12-30,English,Not,938.00,NaN
87487,ASentimentalJourney,Writtenby:LaurenceSterne,Narratedby:AntonLesser,248,2011-02-23,English,Not,680.00,NaN
87488,Havana,Writtenby:MarkKurlansky,Narratedby:FleetCooper,361,2017-03-07,English,Not,569.00,NaN

In [15]:
df["stars"]=df["stars"].str.replace("Not","-",regex=True)

In [16]:
df["stars"]=df["stars"].str.replace("[^0-9.]","",regex=True)

In [17]:
df

,name,author,narrator,time,releasedate,language,stars,price,num_ratings
0,GeronimoStilton11&12,Writtenby:GeronimoStilton,Narratedby:BillLobely,140,2008-08-04,English,5,468.00,34.0
1,TheBurningMaze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,788,2018-05-01,English,4.5,820.00,41.0
2,TheDeepEnd,Writtenby:JeffKinney,Narratedby:DanRussell,123,2020-11-06,English,4.5,410.00,38.0
3,DaughteroftheDeep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,676,2021-10-05,English,4.5,615.00,12.0
4,"TheLightningThief:PercyJackson,Book1",Writtenby:RickRiordan,Narratedby:JesseBernstein,600,2010-01-13,English,4.5,820.00,181.0
...,...,...,...,...,...,...,...,...,...
87484,LastDaysoftheBusClub,Writtenby:ChrisStewart,Narratedby:ChrisStewart,454,2017-03-09,English,,596.00,NaN
87485,TheAlps,Writtenby:StephenO'Shea,Narratedby:RobertFass,607,2017-02-21,English,,820.00,NaN
87486,TheInnocentsAbroad,Writtenby:MarkTwain,Narratedby:FloGibson,1144,2016-12-30,English,,938.00,NaN
87487,ASentimentalJourney,Writtenby:LaurenceSterne,Narratedby:AntonLesser,248,2011-02-23,English,,680.00,NaN
87488,Havana,Writtenby:MarkKurlansky,Narratedby:FleetCooper,361,2017-03-07,English,,569.00,NaN

In [18]:
df.to_csv("audible_cleaned",index=False)

In [19]:
df

,name,author,narrator,time,releasedate,language,stars,price,num_ratings
0,GeronimoStilton11&12,Writtenby:GeronimoStilton,Narratedby:BillLobely,140,2008-08-04,English,5,468.00,34.0
1,TheBurningMaze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,788,2018-05-01,English,4.5,820.00,41.0
2,TheDeepEnd,Writtenby:JeffKinney,Narratedby:DanRussell,123,2020-11-06,English,4.5,410.00,38.0
3,DaughteroftheDeep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,676,2021-10-05,English,4.5,615.00,12.0
4,"TheLightningThief:PercyJackson,Book1",Writtenby:RickRiordan,Narratedby:JesseBernstein,600,2010-01-13,English,4.5,820.00,181.0
...,...,...,...,...,...,...,...,...,...
87484,LastDaysoftheBusClub,Writtenby:ChrisStewart,Narratedby:ChrisStewart,454,2017-03-09,English,,596.00,NaN
87485,TheAlps,Writtenby:StephenO'Shea,Narratedby:RobertFass,607,2017-02-21,English,,820.00,NaN
87486,TheInnocentsAbroad,Writtenby:MarkTwain,Narratedby:FloGibson,1144,2016-12-30,English,,938.00,NaN
87487,ASentimentalJourney,Writtenby:LaurenceSterne,Narratedby:AntonLesser,248,2011-02-23,English,,680.00,NaN
87488,Havana,Writtenby:MarkKurlansky,Narratedby:FleetCooper,361,2017-03-07,English,,569.00,NaN